@model MyAssessment.Core.ViewModels.DepartmentViewModel


<div class="page-header">
    <h1>Edit Department Details</h1>
</div>
<form method="post" asp-action="Update" asp-controller="Department" asp-area="" enctype="multipart/form-data" class="ml-5">
    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <label asp-for="Name" class="col-form-label">Department Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Manager</label>
                <select asp-for="ManagerId" asp-items="ViewBag.Employees" class="form-control">
                    <option value="">-- Select Manager --</option>
                </select>
            </div>
        </div>
    </div>

    <input type="hidden" asp-for="Id" value="@Model.Id" />

    <button type="submit" class="btn btn-primary">Save</button>

</form>